<!DOCTYPE html>
<html>
  <head>
    <title>Suggestotron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	  <%= yield %>
  	  <%if user_signed_in?%>
  	  	<td><%= link_to 'Sign Out', destroy_user_session_path, method: :delete%></td>
  	  <% end %>	
  </body>
</html>
